/*.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  top: 10px;
  right: 10px;
  position: absolute;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}*/
html, body, main {
  height: 100vh;
  padding: 0;
  margin: 0;
}
html {
  background-color: #231F20;
}
html * {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
  overflow: hidden;
}
main {
  background-image: url('../images/office.png');
  background-size: cover;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
}
body.loaded main {
  opacity: 1;
}
.header {
  margin: 0 auto;
}
.header .line {
  height: 2px;
  width: 0;
  border-radius: 25px;
  background-color: #D32F2F;
  transition: width 3s;
  -moz-transition: width 3s;
  -ms-transition: width 3s;
  -o-transition: width 3s;
  -webkit-transition: width 3s;
}
body.loaded .line {
  width: 100%;
}
.header .motto {
  color: #F8F8FF;
  font-size: 3em;
  letter-spacing: 0.25em;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;
}
.motto span:first-child {
  opacity: 0;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  transition: opacity 4s;
  -moz-transition: opacity 4s;
  -ms-transition: opacity 4s;
  -o-transition: opacity 4s;
  -webkit-transition: opacity 4s;
}
.motto span:last-child {
  opacity: 0;
  color: #D32F2F;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
  transition: opacity 7s, color 1s ease-in-out;
  -moz-transition: opacity 7s, color 1s ease-in-out;
  -ms-transition: opacity 7s, color 1s ease-in-out;
  -o-transition: opacity 7s, color 1s ease-in-out;
  -webkit-transition: opacity 7s, color 1s ease-in-out;
}
.header .bvw {
  margin-top: 0.5em;
  color: #F8F8FF;
  font-size: 1.25em;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition-delay: 5s; /* Safari */
  transition-delay: 5s;
  transition: opacity 3s;
  -moz-transition: opacity 3s;
  -ms-transition: opacity 3s;
  -o-transition: opacity 3s;
  -webkit-transition: opacity 3s;
}
body.loaded .motto span, .bvw.fade {
  opacity: 1;
}
body.loaded .motto span.fade {
  color: #F8F8FF;
}
.content {
  background: #D32F2F;
  width: 100vw;
  z-index: 999;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.65), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.mission {
  padding: 8.5em 0;
  width: 75vw;
  margin: 0 auto;
}
.mission > * {
  color: #F8F8FF;
  text-align: center;
  opacity: 0;
}
.mission .status {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.mission .status span {
  padding: 0px 25px;
  border-bottom: 2px solid #F8F8FF;
}
.services {
  width: 100vw;
  padding: 0;
  background-color: #2A3643;
}
.services .other {
  background: rgba(0,0,0, 0.15);
  box-shadow: inset 0px 0px 15px 10px rgba(0,0,0,0.35);
  height: 400px;
}
.services .long-term {
  background: rgba(0,0,0, 0.065);
  height: 400px;
}
.services .vacation {
  background: rgba(0,0,0, 0.125);
  box-shadow: inset 0px 0px 15px 10px rgba(0,0,0,0.35);
  height: 450px;
}
.services .owners {
  background: rgba(0,0,0, 0.025);
  height: 400px;
}
.services img {
  width: 100%;
  opacity: 0;
}
.services .row .col.s7 {
  margin-top: 3em;
}
.section {
  margin: 3em auto;
  padding: 0;
}
.section > * {
  opacity: 0;
}
.other.row .section .row {
  opacity: unset;
}
.col.items li {
  line-height: 1;
  color: #F8F8FF;
  margin: 1em;
  opacity: 0;
}
.section .statement {
  color: #F8F8FF;
  margin: 0 auto 1.5em auto;
  font-size: 2em;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  padding: 10px 25px;
}
.section .statement span {
  padding: 0px 15px;
  border-bottom: 2px solid #F8F8FF;
}
.section .text {
  margin-top: 1.5em;
  color: #F8F8FF;
  line-height: 1.5;
}
.section .flash {
  max-height: 13vh;
  font-size: 18px;
}
.more {
  height: 55vh;
  width: 100%;
  background: none;
}
.more .col h3 {
  color: #F8F8FF;
  min-width: 10vw;
  margin: 0 auto 1em auto;
  font-size: 1.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 5px 25px;
}
.more .col h5 {
  color: #F8F8FF;
  min-width: 10vw;
  margin: 0 auto;
  font-size: 1.15em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 5px 25px;
}
.more .col a {
  border: 2px solid #F8F8FF;
  color: #F8F8FF;
  padding: 10px 35px;
  height: 56px;
}
.bumper {
  height: 55px;
  width: 100vw;
  background-color: #D32F2F;
  border-top: 15px solid #C52427;
  color: #F8F8FF;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  padding-top: 5px;
}
.bumper .left {
  margin-left: 1em;
}
.bumper .right {
  margin-right: 1em;
}
.cd-fold-content ul {
  margin: 10vh 15px;
}
.cd-fold-content > ul > li:not(:first-child) {
  border-top: solid 1px rgba(35, 43, 43, 0.5);
  margin: 0.95em 0 0 0;
  padding: 0.95em 0 0 0;
}
.cd-fold-content > ul > li > a {
  border: 0;
  color: #F8F8FF;
  display: block;
  font-size: 1.15em;
  letter-spacing: 0.2em;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
}
.cd-fold-content > ul > li > a:hover {
	text-shadow: 2px 2px #2A3643;
}
img.des {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}
